<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 1. Image Proxy: Forward /api/uploads calls to /uploads -->
        <rule name="Image Proxy" stopProcessing="true">
          <match url="^api/uploads/(.*)" />
          <action type="Rewrite" url="https://api.mallusmart.com/uploads/{R:1}" />
        </rule>

        <!-- 2. API Proxy: Forward /api calls to the backend -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="https://api.mallusmart.com/{R:1}" />
        </rule>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
